VITE_API_URL=https://bharatfiling-1.onrender.com/api/v1
VITE_SOCKET_URL=https://bharatfiling-1.onrender.com
VITE_SUPABASE_URL=https://ruekrneqflodgdgnssqg.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_Jnu80t86EDgaiCObklp9Zw_ng22liJe
